{% extends "base.html" %}
<!-- Inherits from base.html -->

{% block content %}
    <body>
        <h1>Hello, {{ user.username }}!</h1>    <!-- Passes the arguments from routes.py-->
        {% for post in posts %}                     <!-- For loops: loops through the passed json argument -->
        <div>
            <p>{{post.author.username}} says: <b>{{post.body}}</b></p>
        </div>
        {% endfor %}                                    <!-- Ends the for loop -->
    </body>
{% endblock %}